



body {
	background-color: rgb(251, 252, 246);

}

nav {
	max-width: 1920px;
	margin: auto;
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: flex-end;
}

nav ul li {
	flex-flow: row wrap;
	list-style-type: none;
	padding: 16px;
	max-width: 100%;
}

nav ul li a {
	text-decoration: none;
	color: rgb(165, 160, 74);
}

main {
	max-width: 1000px;
	margin: auto;
	font-size: 20px;
}

p {
	color: rgb(165, 160, 74);
	font-family: 'Old Standard TT', serif;
	font-weight: 600;
	justify-content: flex-start;
	align-items: center;
}

p a {
	color: rgb(112, 130, 56);
	text-decoration: underline;
}

a:hover {
	color: rgb(124, 114, 76);
}

h1 {
	color: rgb(165, 160, 74);
	font-family: 'Old Standard TT', serif;
	font-weight: 800;
	font-size: 90px;
	text-align: center;
	padding-top: 1em;
	margin-bottom: 0.1em;
}

h2 {
	color: rgb(165, 160, 74);
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 30px;
	font-style: italic;
}

h3 {
	color: rgb(165, 160, 74);
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;

}


.nav-logo {
	float: left;
}

.nav-logo img {
	max-width: 100px;
}

/* home style begins */

.home-top {
	margin-top: 20px;
	padding-bottom: 100px;
}

.name {
	padding-top: 80px;
	font-size: 120px;
}


.career-desc {
	max-width: 800px;
	align-items: center;
	text-align: center;
	margin-top: 0.2em;
	padding-left: 100px;
}

.email {
	font-family: 'Heebo', sans serif;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	margin: 3em;
}

.email a {
	color: rgb(165, 160, 74);
}

.home-image-grid {
	margin: 0;
	max-width: 100%;
	--gap: 16px;
	--num-cols: 3;
	--row-height: 300px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	gap: var(--gap);

	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.home-image-grid img {
	width: 100%;
	height: 100%;
	object-fit; cover;
}

.home-image-grid-column-2 {
	grid-column: span 2;
}

.home-image-grid-row-2 {
	grid-row: span 2;
}


.career-desc2 {
	background-color: rgb(165, 160, 74);
	margin-top: 16px;
	padding-left: 16px;
	padding-top: 80px;
	padding-bottom: 50px;
	display: flex;

}

.career-desc2 .statement-and-button {
	display: flex;
	flex-direction: column;
	padding-left: 20px;

}

.postcard img{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	width: 100%;

}

.career-desc2 .postcard {
	margin-right: 30px;
}

.career-desc2 h2 {
	color: rgb(251, 252, 246);
	margin-bottom: 10px;
	margin-top: 0;
}

.career-desc2 p{
	color: rgb(251, 252, 246);
	font-size: 24px;
	max-width: 90%;
	justify-content: center;

}

button {
	background-color: rgb(251, 252, 246);
	margin: 3px;
	padding: 12px;
	min-width: 10rem;
	max-width: 10%;
	font-size: 12px;
	border-radius: 0.1rem;
	border-color: rgb(235, 160, 164);
	text-transform: uppercase;
}

button a {
	color: rgb(235, 160, 164);
	text-decoration: none;
}

.quote {
	text-align: center;
	border-bottom: solid;
	padding-top: 20px;
}

.quote-name {
	padding-bottom: 16px;
}

/* end of home */

/* project highlights begins */

.project-stamp{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.project-highlights-headlines {
	text-align: left;
}

.project-highlights-headlines h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 16px;
	padding-bottom: 0px;
}

.project-highlights-desc {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
}

.project-highlights-desc p {
	width: 100%;
}

.work-category {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.work-category img {
	width: 30%;
	padding: 16px;
	margin-top: 16px;
}

/* end of project highlights */

/* writing highlights */

.writing-examples {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.writing-examples .the-rapport-room {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	
}

.writing-examples .writing-organization {
	padding-left: 100px;
}

.writing-examples .writing-list {
	display: flex;
	flex-direction: column;
	align-content: center;
	padding-left: 250px;
	padding-top: 36px;

}

.writing-examples h1 {
	font-size: 30px;
}

.writing-examples p {
	margin: 5px;
	font-weight: 800;
}

.writing-examples a {
	text-decoration: none;
}

.writing-examples .capa-blog {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
}

.writing-examples .capa-blog .writing-list {
	padding-left: 343px;
}

.writing-examples .nemi-teas {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
}

.writing-examples .nemi-teas .writing-list {
	padding-left: 347px;
}




/* end of writing highlights */

/* moments gallery begins */

.gallery-text {
	border-bottom: solid;
}

.gallery {
	margin: 10px 0px 10px 0px;
}

.gallery img {
	transition: 1s;
	padding: 8px;
	width: 200;
}

.gallery img:hover {
	filter: drop-shadow(5px 5px 10px black);
	filter: grayscale(100%);
	transform: scale(1.1);

}

/* end of moments gallery*/

/* about me style */


.about-container {

}

.about-image-grid {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 40px;
}

.about-image-grid img {
	max-width: 500px;
	max-height: 800px;
	padding-top: 10px;
	padding-bottom: 20px;

}

.arrow {
	padding-top: 10px;
}

.down-arrow {
 	position: absolute;
 	top: calc(100vh - 60px);
  	left: calc(50% - 14px);
  	width: 0;
  	height: 30px;
  	border: 1px solid;
  	border-radius: 2px;
  	color: rgb(165, 160, 74);
}

.down-arrow:after {
  	content: " ";
  	position: absolute;
  	top: 12px;
  	left: -10px;
  	width: 16px;
  	height: 16px;
  	border-bottom: 4px solid;
  	border-right: 4px solid;
  	border-radius: 4px;
  	transform: rotateZ(45deg);
}

.about-text {
	display: flex;
	flex-direction: row;

}

.flex-left {
	width: 50%;
	display: grid;
	margin-right: 16px;
	padding-right: 16px;
}

.flex-right {
	width: 50%;
	display: grid;
}

.about-container h2 {
	text-align: center;
	padding-bottom: 16px;
	margin-bottom: 0px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
}

.about-container p {
	margin-bottom: 2px;
	padding-bottom: 2px;

}

.sign-off {
	font-size: 2em;
	padding-bottom: 0;
}

.signed-name {
	font-size: 2em;
	font-style: italic;
	padding-top: 0;
	margin-top: 0;
}

/* end of about me */

/* start of footer */

.footer-content{

}

.footer-contact-and-logo {
	flex-direction: column;
	align-items: center;
	display: flex;
	padding-top: 150px;
	padding-bottom: 150px;
}

.footer-illustration {
	width: 6em;
}


.footer-mailing-link h1 {
	margin-top: 10px;
	padding-top: 10px;
}

.footer-mailing-link a {
	text-decoration: none;
	color: black;
	padding-top: 10px;
	margin-top: 10px;
}

.footer-mailing-link a h1:hover {
	color: rgb(124, 114, 76);
}

.footer-grid-bottom {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	justify-content: space-between;
	align-items: center;
	justify-items: center;

	box-sizing: border-box;
}


.footer-grid-bottom .copyright p{
	margin-left: 10px;
	text-align: left;
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	display: inline;
}

.footer-grid-bottom .social-icon a {
	color: rgb(165, 160, 74);
	transition: color 02s;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	position: relative;
	font-size: 1.5rem;
}

.footer-grid-bottom .social-icon a:hover {
	color: rgb(124, 114, 76);
}

.footer-grid-bottom .return-home p {
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	display: inline;
	align-items: flex-end;
}

.footer-grid-bottom .return-home a {
	text-decoration: none;
	color: black;
}

/* end of footer */
















