



body {
	background-color: whitesmoke;

}

nav {
	max-width: 1920px;
	margin: auto;
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: flex-end;
}

nav ul li {
	flex-flow: row wrap;
	list-style-type: none;
	padding: 16px;
	max-width: 100%;
}

nav ul li a {
	text-decoration: none;
	color: rgb(165, 160, 74);
}

main {
	max-width: 1000px;
	margin: auto;
	font-size: 20px;
}

p {
	color: rgb(165, 160, 74);
	font-family: 'Old Standard TT', serif;
	font-weight: 600;
	justify-content: flex-start;
	align-items: center;
}

p a {
	color: rgb(165, 160, 74);
	text-decoration: underline;
}

a:hover {
	color: rgb(124, 114, 76);
}

h1 {
	color: rgb(165, 160, 74);
	font-family: 'Old Standard TT', serif;
	font-weight: 800;
	font-size: 90px;
	text-align: center;
	padding-top: 1em;
	margin-bottom: 0.1em;
}

h2 {
	color: rgb(165, 160, 74);
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 30px;
	font-style: italic;
}

h3 {
	color: rgb(165, 160, 74);
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;

}

@media screen (max-width: 480px) {

	nav {
	max-width: 100%;
	font-size: 1rem;
}

	nav ul {
		display: flex;
		align-items: stretch;
		flex-direction: column;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		border-radius: 0.5rem;
}
	
	nav ul li {
		flex-flow: row-wrap;
		list-style-type: none;
		padding: 0.1rem;
		text-align: center;
		margin-top: 0.15rem;
	}

	nav ul li a {
		text-decoration: none;
		text-transform: uppercase;
	}


}

.nav-logo {
	float: left;
}

.nav-logo img {
	max-width: 100px;
}

/* home style begins */

.home-top {
	margin-top: 20px;
	padding-bottom: 100px;
}

.name {
	padding-top: 80px;
	font-size: 120px;
}


.career-desc {
	max-width: 800px;
	align-items: center;
	text-align: center;
	margin-top: 0.2em;
	padding-left: 100px;
}

.email {
	font-family: 'Heebo', sans serif;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	margin: 3em;
}

.email a {
	color: rgb(165, 160, 74);
}


.image-container {
	position: relative;
	display: inline-block;
}

.image-container img {
	display: block;
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}

.overlay-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 100px;
}

.overlay-text h1 {
	color: whitesmoke;
	font-size: 72px;
	text-align: center;
}

.home-image-row {
	display: flex;
	flex-directions: row;
	justify-content: center;
	align-content: center;
	padding-top: 30px;
}

.home-image-row img {
	max-width: 90%;
	padding: 20px;
}

.home-image-row button {
	justify-content: center;
	align-content: center;
}

.home-image-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.career-desc2 {
	margin-top: 16px;
	padding-left: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: row-reverse;
}

.career-desc2 .statement-and-button {
	display: flex;
	flex-direction: column;
	padding-left: 50px;

}

.career-desc2 .postcard img {
	width: 500px;
}

.career-desc2 h2 {
	color: rgb(165, 160, 74);
	margin-bottom: 10px;
	margin-top: 0;
}

.career-desc2 p{
	color: rgb(165, 160, 74);
	font-size: 24px;
	max-width: 95%;
	justify-content: center;
	align-items: center;

}

button {
	background-color: whitesmoke;
	margin: 3px;
	padding: 12px;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 10rem;
	max-width: 300px;
	font-size: 12px;
	border-radius: 0.1rem;
	border-color: rgb(165, 160, 74);
	text-transform: uppercase;
}

button a {
	color: rgb(165, 160, 74);
	text-decoration: none;
}

.quote {
	text-align: center;
	border-top: solid;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	padding-top: 20px;
}

.quote h2 {
	color: rgb(165, 160, 74);
}

.quote p {
	color: rgb(165, 160, 74);
}

.quote-name {
	padding-bottom: 16px;
}

/* end of home */

/* project highlights begins */

.project-highlights-content {
	display: flex;
	flex-direction: row;
	padding: 50px;
	background-color: rgb(165, 160, 74);
}

.work-category {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-right: 50px;
}

.work-category-headline h2 {
	font-size: 2.5rem;
}

.work-category h2 {
	margin-bottom: 10px;
	margin-top: 25px;
	font-weight: 800;
	color: whitesmoke;
}

.work-category a {
	text-decoration: none;
}

.work-category .project-writing a:hover h2{
	color: rgb(124, 114, 76);
}

.work-category .project-strategy a:hover h2{
	color: rgb(124, 114, 76);
}

.work-category .project-design a:hover h2{
	color: rgb(124, 114, 76);
}



.project-highlights-desc {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 50%;
}

.project-highlights-desc h2 {
	color: whitesmoke;
}

.project-highlights-desc p {
	color: whitesmoke;
}

.project-writing {
	border-bottom: solid;
	border-color: whitesmoke;
}

.project-strategy {
	border-bottom: solid;
	border-color: whitesmoke;
}

.project-design {
	border-bottom: solid;
	border-color: whitesmoke;
}

/* end of project highlights */

.highlight-title {
	display: flex;
	justify-content: center;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
}

.process-list ul li {
	list-style: none;
}

.process-list {
	width: 95%;
	padding-bottom: 20px;
}

.farm-slidedeck {
	padding-bottom: 30px;
}

/* writing highlights */

.writing-examples {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.writing-examples .writing-organization {
	width: 75%;
	padding-top: 30px;
	margin-top: 0px;
}

.writing-examples .writing-list {
	display: flex;
	flex-direction: column;
	align-content: center;
	padding-left: 150px;
	padding-top: 30px;
	width: 75%;

}

.writing-examples h1 {
	font-size: 30px;
}

.writing-examples .writing-organization h1 {
	text-align: left;
	padding-left: 150px;
}

.writing-examples p {
	margin: 5px;
	font-weight: 800;
}

.writing-examples a {
	text-decoration: none;
}

.writing-examples .writing-list p {
	width: 100%;
}

.writing-examples .writing-organization a h1 {
	margin-top: 0px;
	padding-top: 0px;
}

.writing-examples .writing-organization a:hover h1{
	color: rgb(124, 114, 76);
}

.writing-examples .writing-list a:hover p{
	color: rgb(124, 114, 76);
}

.writing-examples .writing-year h1 {
	margin-top: 0px;
	padding-top: 30px;
}


.writing-examples .the-rapport-room {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.writing-examples .capa-blog {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.writing-examples .nemi-teas {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.back-next-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



/* end of writing highlights */

/* start of strategy highlights */

.strategy-examples {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.strategy-examples .strategy-preview {
	width: 50%;
}

.strategy-examples .strategy-desc {
	padding-left: 150px;
	width: 75%;
}

.strategy-examples h1 {
	font-size: 30px;
	margin-top: 0px;

}

.strategy-examples .strategy-preview h1 {
	text-align: left;
	padding-left: 100px;
}

.strategy-examples .strategy-preview a:hover h1{
	color: rgb(124, 114, 76);
}

.strategy-examples .strategy-preview a {
	text-decoration: none;
}

.strategy-examples .strategy-preview img:hover {
	transform: scale(1.1);
}

.strategy-examples img {
	width: 250px;
	padding-top: 16px;
	padding-left: 100px;
}

.strategy-examples .steak-and-shake {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.strategy-examples .zero-hunger {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.strategy-examples .yellowdog-bookshop {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.strategy-examples .deathwish-coffee {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.strategy-examples .farm-bureau {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

/* end of strategy highlights */


.steaknshake-presentation h2 {
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
}

.steaknshake-presentation a{
	text-decoration: none;
}

.steaknshake-presentation a:hover h2{
	color: rgb(124, 114, 76);
}

.steaknshake-identity {
	display: flex;
	flex-direction: row;
}

.steaknshake-identity img {
	max-width: 45%;
	margin: 25px;
}

.steaknshake-print {
	display: flex;
	flex-direction: row;
}

.steaknshake-print img {
	max-width: 45%;
	margin: 25px;
}

.steaknshake-interactive {
	display: flex;
	flex-flow: row-wrap;
}

.steaknshake-interactive img {
	max-width: 30%;
	margin: 16px;
}

.steaknshake-interactive img:hover {
	transform: scale(2);
	transition: 2s;
}

.steaknshake-guerrilla-a {
	display: flex;
	flex-direction: row;
}

.steaknshake-guerrilla-a img {
	width: 45%;
	margin: 25px;
}

.steaknshake-guerrilla-b {
	display: flex;
	flex-direction: row;
}

.steaknshake-guerrilla-b img {
	width: 30%;
	margin: 16px;
}

.steaknshake-guerrilla-b img:hover {
	transform: scale(2);
	transition: 2s;
}

.steaknshake-guerrilla-b2 {
	display: flex;
	flex-direction: row;
}

.steaknshake-guerrilla-b2 img {
	width: 45%;
	margin: 25px;
}

.deathwish-presentation h2 {
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
}

.deathwish-presentation a{
	text-decoration: none;
}

.deathwish-presentation a:hover h2{
	color: rgb(124, 114, 76);
}

.deathwish-brand-guidelines {
	display: flex;
	flex-direction: row;
}

.deathwish-brand-guidelines img {
	width: 45%;
	margin: 25px;
}

.print-ad {
	display: flex;
	flex-direction: row;
}

.print-ad img {
	width: 30%;
	margin: 16px;
}

.print-ad img:hover {
	transform: scale(2);
	transition: 2s;
}

.deathwish-web img {
	width: 100%;
	margin-bottom: 30px;
}

.deathwish-web img:hover {
	transform: scale(1.5);
	transition: 3s;
}

.zhc-poster {
	padding-bottom: 30px;
}

.zhc-poster img {
	width: 100%;
	border: solid;
	border-color: black;
}

/* start of design highlights */


.design-examples {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.design-examples .design-preview {
	width: 50%;
}

.design-examples .design-desc {
	width:75%;
	padding-left: 200px;
}

.design-examples h1 {
	font-size: 30px;
	margin-top: 0px;
}

.design-examples img {
	width: 100%;
	padding-top: 16px;
	padding-left: 100px;
}

.design-examples .heart-prints {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.design-examples .grandpa-illustration {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.design-examples .hero-portrait {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.design-examples .rapport-room {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	padding-bottom: 30px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
	width: 100%;
}

.back-next-button {
	padding-top: 30px;
}

/* end of design highlights */

/* about me style */


.about-container {

}

.about-image-grid {
	margin: 0;
	max-width: 1920px;
	--gap: 16px;
	--num-cols: 3;
	--row-height: 300px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	gap: var(--gap);

	padding-left: 0;
	padding-right: 0;
	padding-bottom: 16px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
}

.about-image-grid img {
	width: 100%;
	height: 100%;
	object-fit; cover;
}

.about-image-grid-column-2 {
	grid-column: span 2;
}

.about-image-grid-row-2 {
	grid-row: span 2;
}

.about-text {
	display: flex;
	flex-direction: row;

}

.flex-left {
	width: 50%;
	display: grid;
	margin-right: 16px;
	padding-right: 16px;
}

.flex-right {
	width: 50%;
	display: grid;
}

.about-container h2 {
	text-align: center;
	padding-bottom: 16px;
	margin-bottom: 0px;
	border-bottom: solid;
	border-color: rgb(165, 160, 74);
}

.about-container p {
	margin-bottom: 2px;
	padding-bottom: 2px;
}

.sign-off {
	font-size: 2em;
	padding-bottom: 0;
}

.signed-name {
	font-size: 2em;
	font-style: italic;
	padding-top: 0;
	margin-top: 0;
}

/* end of about me */

/* start of resume */

.resume {
	border: solid;
	border-color: rgb(165, 160, 74);
	padding: 30px;
}

.resume h1 {
	font-size: 28px;
	font-weight: 900;
	text-align: left;
	margin-top: 12px;
}

.resume h2 {
	font-size: 24px;
	margin-top: 6px;
}

.resume p {
	padding-left: 30px;
}

.contact h2 {
	text-align: center;
}

.contact h1 {
	font-size: 48px;
	text-align: center;
}

.experience-title h1 {
	border-bottom: solid;
}

.education-title h1 {
	border-bottom: solid;
}

.skills-title h1 {
	border-bottom: solid;
}

/* end of resume */


/* start of footer */

.footer-content{

}

.footer-contact-and-logo {
	flex-direction: column;
	align-items: center;
	display: flex;
	padding-top: 150px;
	padding-bottom: 150px;
}

.footer-illustration {
	width: 6em;
}


.footer-mailing-link h1 {
	margin-top: 10px;
	padding-top: 10px;
}

.footer-mailing-link a {
	text-decoration: none;
	color: black;
	padding-top: 10px;
	margin-top: 10px;
}

.footer-mailing-link a h1:hover {
	color: rgb(124, 114, 76);
}

.footer-grid-bottom {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	justify-content: space-between;
	align-items: center;
	justify-items: center;

	box-sizing: border-box;
}


.footer-grid-bottom .copyright p{
	margin-left: 10px;
	text-align: left;
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	display: inline;
}

.footer-grid-bottom .social-icon a {
	color: rgb(165, 160, 74);
	transition: color 02s;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	position: relative;
	font-size: 1.5rem;
}

.footer-grid-bottom .social-icon a:hover {
	color: rgb(124, 114, 76);
}

.footer-grid-bottom .return-home p {
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	display: inline;
	align-items: flex-end;
}

.footer-grid-bottom .return-home a {
	text-decoration: none;
	color: black;
}

/* end of footer */
















